.wrap {
    padding: 0 4% 0;
    margin: 0 auto;
    width: 1080px;
}

body{
    text-align: center;
}

h1 {
    text-align: center;
}

.btn{
    display: inline-block;
    color: #fff;
    font-size: 1.25rem;
    background-color: #6A3229;
    border: 1px solid #000;
    padding: 10px 60px;
    border-radius: 30px;
}

.cards-item{
    position: relative;
}

.cards {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Tapestry', cursive;
}
.board{
    background: rgb(131, 58, 180);
    overflow: hidden;
    background: radial-gradient(circle, rgba(203,73,55,1) 0%, rgba(45,4,1,1) 100%);
}

.card {
    position: relative;
    border-radius: 10px;
    width: 100px;
    height: 150px;
    background-color: rgb(238,235,205);
    cursor: pointer;
    user-select: none;
    top: 0;
    transition: top .8s;
}

.cardUp{
    top: -300px;
}
.num-upperleft {
    position: absolute;
    padding: 4px;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    font-size: 24px;
}

.mark{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.num-bottomright {
    position: absolute;
    padding: 4px;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 24px;
    transform: rotate(180deg);
}

.hold{
    width: 100%;
    height: 20px;
    color:#fff;
}

.bet-info-area{
    padding: 10px;
    display: flex;
    justify-content: center;
    color: #fff;
}
.bet-info:first-of-type{
    margin-right: 30px;
}
.bet-info__ttl{
    background-color: #513A39;
    border: 3px solid #B4AE8A;
    border-radius: 20px;
    width: 100px;
    font-family: 'Noto Serif JP', serif;
    font-size: 0.75rem;
}
.bet-info__body{
    margin-top: 2px;
    background-color: #B4AE8A;
    width: 150px;
    border-radius: 20px;
    padding: 3px 20px;
    box-shadow: 0 0 10px #333,inset 0 0 3px #333 ;
}
.bet-info__content{
    padding: 2px;
    background-color: #F7F2CE;
    border: 1px solid rgba(0,0,0,.3);
    color: #333;
    box-shadow: inset 0 0 8px #333;
    border-radius: 3px;
    line-height: 1;
    font-family: 'Noto Serif JP', serif;
    font-weight: 700;
    letter-spacing: .2em;
    text-align: right;
}